@keyframes fromBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    25% {
        transform: translateY(-80%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}